body {
    background-color: #544e30;
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

#NavPrincipal {
    background-color: #94c3ea;
}

.nav-link,
.navbar-brand,
.nav-link {
    color: #ffffff;
}

.nav-link:hover,
.navbar-brand:hover,
.nav-link:hover {
    color: #067ece;
}

.navbar-toggler {
    background-color: #499d1c;
}

#GeneralContainer {
    padding-bottom: 40px;
}

#ColumnaIzq {
    padding-bottom: 35px;
}

img {
    width: 200px;
    height: 225px;
}

#Tarjeta {
    background-color: #2def77;
    border: 1px solid #062ece;
}

.card-body {
    background-color: #0ce617;
    color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#GitButton,
#LinkedinButton {
    background-color: #2b0bf8;
    border-color: #080003;
}

#GitButton:hover,
#LinkedinButton:hover {
    background-color: #ffffff;
    color: #1f64db;
    border-color: rgb(104, 188, 177);
}

#Lista {
    background-color: #4927e1;
    border: 1px solid #1c0fcf;
    color: #2eed15;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

.list-group-item {
    color: #3e8157;
}